# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.expo/
.expo-shared/
.next/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Supabase local
supabase/.branches
supabase/.temp

# EAS
.eas/
